@using Admin.Helper
@model Admin.Models.NewsNewViewModel
@{
    ViewBag.Title = "Yeni Haber";
}

@using (@Html.BeginForm())
{

    <div class="form-horizontal">

        @Html.ValidationSummary(false, "", new { @class = "text-danger" })
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Name)
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Slug)
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Slug, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Slug, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Description)
            </div>
            <div class="col-md-10">
                @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.EditorContent)
            </div>
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.EditorContent, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EditorContent, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.Photos)
            </div>
            <div class="col-md-10">
                <div class="input-group mb-3">
                    @Html.EditorFor(model => model.Photos, new { htmlAttributes = new { @class = "form-control" } })
                </div>
                @Html.ValidationMessageFor(model => model.Photos, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.StatusId)
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.StatusId, SelectListHelper.StatusSelectList(), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.StatusId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-2">
                @Html.DisplayNameFor(model => model.CampusId)
            </div>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.CampusId, SelectListHelper.campusSelectList(), htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CampusId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md">

                <input type="submit" value="Oluştur" class="btn btn-primary" />
                @Html.ActionLink("Geri Dön", "Index", "Event", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}

@section Javascript
{
    <script src="@Url.Content("~/Assets/libs/ckeditor/ckeditor.js")"></script>
}