@model CampusListViewModel
    <p>
        @Html.ActionLink("Yeni Kampüs", "New", "Campus", null,new { @class = "btn btn-primary" })
    </p>

<table class="table table-bordered" id="dataTable">
    <thead>
    <tr>
        <th>Kampüs Id</th>
        <th>Kampüs Adı</th>
        <th>Durumu</th>
        <th nowrap>Eylemler</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var campus in Model.Campuses)
    {
        <tr>
            <td>@campus.Id</td>
            <td>@campus.Name</td>
            <td>@campus.Status.Name</td>
            <td>@campus.Status.Name</td>
            <td>
                <a href="@Url.Action("Edit", new {id = campus.Id})" class="btn btn-success btn-sm">Düzenle</a>
                <a href="@Url.Action("Draft", new {id = campus.Id})" class="btn btn-warning btn-sm">Taslak</a>
                <a href="@Url.Action("Publish", new {id = campus.Id})" class="btn btn-info btn-sm">Yayınla</a>
                <a href="@Url.Action("Remove", new {id = campus.Id})" class="btn btn-danger btn-sm" onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">Sil</a>
            </td>
        </tr>
    }
    </tbody>
</table>