@model FooterViewModel

<footer class="footer-area">
    <div class="main-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-widget pr-60">
                        <div class="footer-logo pb-25">
                            <a href="@Url.Action("Index","Home")"><img src="/img/logo/footer-logo.png" alt="eduhome"></a>
                        </div>
                        <p>@Model.Settings?.SiteDescription </p>
                        <div class="footer-social">
                            <ul>
                                <li><a href="@Model.Settings?.FacebookUrl"><i class="zmdi zmdi-facebook"></i></a></li>
                                <li><a href="@Model.Settings?.TwitterUrl"><i class="zmdi zmdi-twitter"></i></a></li>
                                <li><a href="@Model.Settings?.InstagramUrl"><i class="zmdi zmdi-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>Site Menüsü</h3>
                        <ul>
                            @foreach (var menuElement in Model.FooterMenu)
                            {
                                <li>
                                    <a href="@menuElement.Url">@menuElement.Name</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-6 col-xs-12">
                    @*<div class="single-widget">
                        <h3>useful links</h3>
                        <ul>
                            <li><a href="course.html">our courses</a></li>
                            <li><a href="about.html">about us</a></li>
                            <li><a href="teacher.html">teachers &amp; faculty</a></li>
                            <li><a href="#">teams &amp; conditions</a></li>
                            <li><a href="event.html">our events</a></li>
                        </ul>
                    </div>*@
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="single-widget">
                        <h3>Bizimle İletişimde Kalın</h3>
                        <p>@Model.Settings?.GeneralAddress</p>
                        <p>@Model.Settings?.GeneralTelephone</p>
                        <p>@Model.Settings?.GeneralEmailAddress</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <p>&copy; @DateTime.Now.Year Erdem Okulları - Tüm Hakları Saklıdır.</p>
                </div>
            </div>
        </div>
    </div>
</footer>