@model Admin.Models.MenuElementListViewModel

@{
    ViewBag.Title = "Menüler";
}
    <p>
        @Html.ActionLink("Yeni Menü", "New", "Menu", null, new { @class = "btn btn-primary" })
    </p>
<table class="table table-bordered" id="dataTable">
    <thead>
        <tr>
            <th>Id</th>
            <th>Menu Element Adı</th>
            <th>Url</th>
            <th>Menü Yeri</th>
            <th>Üst Menü</th>
            <th>Durumu</th>
            <th nowrap>Eylemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var x in Model.MenuElements)
        {
            <tr>
                <td>@x.Id</td>
                <td>@x.Name</td>
                <td>@x.Url</td>
                <td>@x.MenuLocation</td>
                <td>@x.ParentMenu.Name</td>
                <td>@x.Status.Name</td>
                <td>
                    <a href="@Url.Action("Edit", "Menu", new {id = @x.Id})" class="btn btn-success">Düzenle</a>
                    <a href="@Url.Action("Remove", "Menu", new {id = @x.Id})" class="btn btn-danger">Sil</a>
                    <a href="@Url.Action("Draft", "Menu", new {id = @x.Id})" class="btn btn-warning">Taslak Yap</a>
                    <a href="@Url.Action("Publish", "Menu", new {id = @x.Id})" class="btn btn-info">Yayınla</a>
                </td>
            </tr>
        }
    </tbody>
</table>
