@model HomepageViewModel

<partial name="CarouselPartial" />
<!-- Neden Erdem Okulları: Başlangıç -->
<section class="choose-area pb-85 pt-77">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-left-4 col-sm-8 col-md-offset-left-4">
                <div class="choose-content text-left">
                    <h2>NEDEN ERDEM OKULLARI ?</h2>
                    <p>Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir. Lorem Ipsum, adı bilinmeyen bir matbaacının bir hurufat numune kitabı oluşturmak üzere bir yazı galerisini alarak karıştırdığı 1500'lerden beri endüstri standardı sahte metinler olarak kullanılmıştır.</p>
                    <p class="choose-option">Beşyüz yıl boyunca varlığını sürdürmekle kalmamış, aynı zamanda pek değişmeden elektronik dizgiye de sıçramıştır. 1960'larda Lorem Ipsum pasajları da içeren Letraset yapraklarının yayınlanması ile ve yakın zamanda Aldus PageMaker gibi Lorem Ipsum sürümleri içeren masaüstü yayıncılık yazılımları ile popüler olmuştur. </p>
                    <a class="default-btn" href="course-details.html">bize ulaşın</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Neden Erdem Okulları: Bitiş -->
<!-- Etkinlikler: Başlangıç -->
<div class="event-area one text-center pt-140 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="img/icon/section.png" alt="section-title">
                    <h2>YAKLAŞAN ETKİNLİKLER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var eventItem in Model.UpcomingEvents)
            {
                <div class="col-md-6">
                    <div class="single-event mb-35">
                        <div class="event-date">
                            <h3>
                                <a href="event-details.html">
                                    @eventItem.StartDate.Day <span>@eventItem.StartDate.Month.ToString("MMMM")</span>
                                </a>
                            </h3>
                        </div>
                        <div class="event-content text-left">
                            <div class="event-content-left">
                                <h4><a href="event-details.html">@eventItem.Name</a></h4>
                                <ul>
                                    <li><i class="fa fa-clock-o"></i>@eventItem.StartDate.Hour:@eventItem.StartDate.Minute</li>
                                    <li><i class="fa fa-map-marker"></i>@eventItem.Location</li>
                                </ul>
                            </div>
                            <div class="event-content-right">
                                <a class="default-btn" href="event-details.html">detayları gör</a>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<!-- Etkinlikler: Bitiş -->
<!-- Veli Görüşleri: Başlangıç -->
<div class="testimonial-area pt-110 pb-105 text-center">
    <div class="container">
        <div class="row">
            <div class="testimonial-owl owl-theme owl-carousel">
                @foreach (var review in Model.Reviews)
                {
                    <div class="col-md-8 col-md-offset-2 col-sm-12">
                        <div class="single-testimonial">
                            <div class="testimonial-info">
                                <div class="testimonial-img">
                                    <img src="@review.Image.Url" alt="testimonial">
                                </div>
                                <div class="testimonial-content">
                                    <p>@review.Message</p>
                                    <h4>@review.Fullname</h4>
                                    <h5>@review.Title</h5>
                                </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</div>
<!-- Veli Görüşleri: Bitiş -->
<!-- Haberler: Başlangıç -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="img/icon/section.png" alt="section-title">
                    <h2>SON HABERLER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var news in Model.LastNews)
            {
                <div class="col-md-4 col-sm-6 col-xs-12">
                    <div class="single-blog">
                        <div class="blog-img">
                            <a href="blog-details.html">
                                <img src="@news.Image.Url" alt="@news.Name">
                            </a>
                            <div class="blog-hover">
                                <a href="blog-details.html">
                                    <i class="fa fa-link"></i>
                                </a>
                            </div>
                        </div>
                        <div class="blog-content">
                            <div class="blog-top">
                                <p>@news.CreationDate?.ToString("dd MMMM yyyy")</p>
                            </div>
                            <div class="blog-bottom">
                                <h2><a href="blog-details.html">@news.Description.Substring(0, 40)... </a></h2>
                                <a href="blog-details.html">devamını oku</a>
                            </div>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Haberler: Bitiş -->
<!-- Kayıt Formu : Başlangıç -->
<div class="subscribe-area pt-60 pb-70">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="subscribe-content section-title text-center">
                    <h2>Biz sizi arayalım</h2>
                    <p>Aşağıdaki formu doldurun, en kısa zamanda size dönelim </p>
                </div>
                <div class="newsletter-form mc_embed_signup">
                    <form action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div id="mc_embed_signup_scroll" class="mc-form">
                            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Enter your e-mail address" required>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                            <button id="mc-embedded-subscribe" class="default-btn" type="submit" name="subscribe"><span>subscribe</span></button>
                        </div>
                    </form>
                    <!-- mailchimp-alerts Start -->
                    <div class="mailchimp-alerts">
                        <div class="mailchimp-submitting"></div><!-- mailchimp-submitting end -->
                        <div class="mailchimp-success"></div><!-- mailchimp-success end -->
                        <div class="mailchimp-error"></div><!-- mailchimp-error end -->
                    </div>
                    <!-- mailchimp-alerts end -->
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Kayıt Formu: Bitiş -->