@model Admin.Models.StaffListViewModel
<p>
    @Html.ActionLink("Yeni Eğitmen", "New", "Staff", null, new { @class = "btn btn-primary" })
</p>
@{
    ViewBag.Title = "Eğitmenler";
}
<table class="table table-bordered" id="dataTable">
    <thead>
        <tr>
            <th>Eğitmen Id</th>
            <th>Eğitmen Adı Soyadı</th>
            <th>Branşı</th>
            <th>Açıklama</th>
            <th>Durumu</th>
            <th>Kampüs</th>
            <th nowrap>Eylemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var staff in Model.Staff)
        {
            <tr>
                <td>@staff.Id</td>
                <td>@staff.FullName</td>
                <td>@staff.Sector</td>
                <td>@staff.BioText</td>
                <td>@staff.Status.Name</td>
                <td>@staff.Campus.Name</td>
                <td>
                    <a href="@Url.Action("Edit", new {id = staff.Id})" class="btn btn-success btn-sm">Düzenle</a>
                    <a href="@Url.Action("Draft", new {id = staff.Id})" class="btn btn-warning btn-sm">Taslak</a>
                    <a href="@Url.Action("Publish", new {id = staff.Id})" class="btn btn-info btn-sm">Yayınla</a>
                    <a href="@Url.Action("Remove", new {id = staff.Id})" class="btn btn-danger btn-sm" onclick="return confirm('Bu kaydı silmek istediğinize emin misiniz?');">Sil</a>
                </td>
            </tr>
        }
    </tbody>
</table>